{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2020"
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": [
    ".*__mocks__.*",
    ".*__snapshots__.*",
    ".*test-utils.*",
    ".*\\.test\\.?.*\\.tsx?",
    ".*\\.d\\.tsx?"
  ],
  "sourceMaps": true
}
