@font-face {
  font-family: 'MM Sans';
  font-weight: 1 1000;
  src: url('./MM-Sans-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('./Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 400;
  src: url('./Geist-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  src: url('./Geist-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 500;
  src: url('./Geist-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 700;
  src: url('./Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 700;
  src: url('./Geist-BoldItalic.woff2') format('woff2');
}
