@font-face {
  font-family: 'MM Sans';
  font-weight: 1 1000;
  src: url('./MM-Sans-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Centra No1';
  font-style: normal;
  font-weight: 400;
  src: url('./CentraNo1-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Centra No1';
  font-style: italic;
  font-weight: 400;
  src: url('./CentraNo1-Book-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Centra No1';
  font-style: normal;
  font-weight: 500;
  src: url('./CentraNo1-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Centra No1';
  font-style: italic;
  font-weight: 500;
  src: url('./CentraNo1-Medium-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Centra No1';
  font-style: normal;
  font-weight: 700;
  src: url('./CentraNo1-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Centra No1';
  font-style: italic;
  font-weight: 700;
  src: url('./CentraNo1-Bold-Italic.woff2') format('woff2');
}
