name: Build, Lint, and Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      YARN_CACHE_DIR: ${{ steps.yarn-cache-dir.outputs.YARN_CACHE_DIR }}
      YARN_VERSION: ${{ steps.yarn-version.outputs.YARN_VERSION }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Get Yarn cache directory
        run: echo "YARN_CACHE_DIR=$(yarn config get cacheFolder)" >> "$GITHUB_OUTPUT"
        id: yarn-cache-dir
      - name: Get Yarn version
        run: echo "YARN_VERSION=$(yarn --version)" >> "$GITHUB_OUTPUT"
        id: yarn-version
      - name: Cache Yarn dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir.outputs.YARN_CACHE_DIR }}
          key: yarn-cache-${{ runner.os }}-${{ steps.yarn-version.outputs.YARN_VERSION }}-${{ hashFiles('yarn.lock') }}
      - name: Install Yarn dependencies
        run: yarn --immutable
  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - prepare
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore Yarn dependencies
        uses: actions/cache@v3
        with:
          path: ${{ needs.prepare.outputs.YARN_CACHE_DIR }}
          key: yarn-cache-${{ runner.os }}-${{ needs.prepare.outputs.YARN_VERSION }}-${{ hashFiles('yarn.lock') }}
      - run: yarn --immutable
      - name: Get TypeScript version
        run: echo "TSC_VERSION=$(yarn tsc --version | cut -d " " -f2)" >> "$GITHUB_OUTPUT"
        id: tsc-version
      - name: Cache TypeScript build info
        uses: actions/cache@v3
        with:
          path: .cache
          key: tsbuildinfo-${{ runner.os }}-${{ matrix.node-version }}-${{ steps.tsc-version.outputs.TSC_VERSION }}
      - run: yarn build
      - run: yarn workspace @metamask/snap-controllers run test:ci
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - prepare
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore Yarn dependencies
        uses: actions/cache@v3
        with:
          path: ${{ needs.prepare.outputs.YARN_CACHE_DIR }}
          key: yarn-cache-${{ runner.os }}-${{ needs.prepare.outputs.YARN_VERSION }}-${{ hashFiles('yarn.lock') }}
      - run: yarn --immutable
      - run: yarn lint
      - name: Validate RC changelog
        if: ${{ startsWith(github.head_ref, 'release/') }}
        run: yarn lint:changelogs --rc
      - name: Validate changelog
        if: ${{ !startsWith(github.head_ref, 'release/') }}
        run: yarn lint:changelogs
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi
  test:
    name: Test
    runs-on: ubuntu-latest
    needs:
      - prepare
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore Yarn dependencies
        uses: actions/cache@v3
        with:
          path: ${{ needs.prepare.outputs.YARN_CACHE_DIR }}
          key: yarn-cache-${{ runner.os }}-${{ needs.prepare.outputs.YARN_VERSION }}-${{ hashFiles('yarn.lock') }}
      - run: yarn --immutable
      - run: yarn workspaces foreach --parallel --verbose --exclude @metamask/snap-controllers --exclude root run test:ci
      - name: CodeCov
        uses: codecov/codecov-action@f32b3a3741e1053eb607407145bc9619351dc93b
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi
  platform-compatibility-prepare:
    name: Platform Compatibility Prepare
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, windows-latest]
    outputs:
      YARN_CACHE_DIR: ${{ steps.yarn-cache-dir.outputs.YARN_CACHE_DIR }}
      YARN_VERSION: ${{ steps.yarn-version.outputs.YARN_VERSION }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Get Yarn cache directory
        run: echo "YARN_CACHE_DIR=$(yarn config get cacheFolder)" >> "$GITHUB_OUTPUT"
        shell: bash
        id: yarn-cache-dir
      - name: Get Yarn version
        run: echo "YARN_VERSION=$(yarn --version)" >> "$GITHUB_OUTPUT"
        shell: bash
        id: yarn-version
      - name: Cache Yarn dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir.outputs.YARN_CACHE_DIR }}
          key: yarn-cache-${{ runner.os }}-${{ steps.yarn-version.outputs.YARN_VERSION }}-${{ hashFiles('yarn.lock') }}
      - name: Install Yarn dependencies
        run: yarn --immutable
  platform-compatibility-build:
    name: Platform Compatibility Build
    runs-on: ${{ matrix.os }}
    needs:
      - platform-compatibility-prepare
    strategy:
      matrix:
        os: [macOS-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Restore Yarn dependencies
        uses: actions/cache@v3
        with:
          path: ${{ needs.platform-compatibility-prepare.outputs.YARN_CACHE_DIR }}
          key: yarn-cache-${{ runner.os }}-${{ needs.platform-compatibility-prepare.outputs.YARN_VERSION }}-${{ hashFiles('yarn.lock') }}
      - run: yarn --immutable
      - name: Build @metamask/snaps-cli and its dependents only
        shell: bash
        run: |
          yarn workspaces foreach \
            --recursive \
            --from @metamask/snaps-cli \
            --topological-dev \
            run build
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty after building"
            exit 1
          fi
      - run: yarn workspace @metamask/snaps-cli run test
  platform-compatibility-test:
    name: Platform Compatibility Test
    runs-on: ${{ matrix.os }}
    needs:
      - platform-compatibility-prepare
    strategy:
      matrix:
        os: [macOS-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Restore Yarn dependencies
        uses: actions/cache@v3
        with:
          path: ${{ needs.platform-compatibility-prepare.outputs.YARN_CACHE_DIR }}
          key: yarn-cache-${{ runner.os }}-${{ needs.platform-compatibility-prepare.outputs.YARN_VERSION }}-${{ hashFiles('yarn.lock') }}
      - run: yarn --immutable
      - run: yarn workspace @metamask/snaps-cli run test
  check-workflows:
    name: Check workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download actionlint
        id: download-actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/7fdc9630cc360ea1a469eed64ac6d78caeda1234/scripts/download-actionlint.bash) 1.6.22
        shell: bash
      - name: Check workflow files
        run: ${{ steps.download-actionlint.outputs.executable }} -color
        shell: bash
  all-jobs-pass:
    name: All jobs pass
    runs-on: ubuntu-latest
    needs:
      - build
      - lint
      - test
      - platform-compatibility-build
      - platform-compatibility-test
      - check-workflows
    steps:
      - run: echo "Great success!"
