name: Build, Lint, and Test

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      test-workspace-package-names: ${{ steps.workspace-package-names.outputs.test-workspace-package-names }}
      e2e-workspace-package-names: ${{ steps.workspace-package-names.outputs.e2e-workspace-package-names }}
      all-workspace-package-names: ${{ steps.workspace-package-names.outputs.all-workspace-package-names }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable
      - name: Cache "@metamask/snaps-execution-environments" build
        id: cache-snaps-execution-environments-build
        uses: actions/cache@v4
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: snaps-execution-environments-build-${{ runner.os }}-${{ matrix.node-version }}-${{ github.sha }}
      - name: Prepare "@metamask/snaps-execution-environments" build
        if: steps.cache-snaps-execution-environments-build.outputs.cache-hit != 'true'
        run: yarn workspace @metamask/snaps-execution-environments run build:lavamoat
      - name: Fetch workspace package names
        id: workspace-package-names
        run: |
          {
            echo "test-workspace-package-names=$(yarn workspaces filter list --include 'packages/*' --exclude 'packages/examples' --json)"
            echo "e2e-workspace-package-names=$(yarn workspaces filter list --include 'packages/examples/packages/**' --exclude 'packages/examples/packages/invoke-snap' --json)"
            echo "all-workspace-package-names=$(yarn workspaces filter list --include '{.,packages/**}' --exclude 'packages/snaps-cli/test/snap' --json)"
          } >> "$GITHUB_OUTPUT"
        shell: bash

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Build
        run: yarn build:ci
      - name: Cache build files
        uses: actions/cache@v4
        with:
          path: |
            packages/*/dist
          key: build-source-${{ runner.os }}-${{ github.sha }}
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  build-simulator:
    name: Build "@metamask/snaps-simulator"
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Restore "@metamask/snaps-execution-environments" build
        uses: actions/cache@v4
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: snaps-execution-environments-build-${{ runner.os }}-18.x-${{ github.sha }}
          fail-on-cache-miss: true
      - name: Cache Webpack vendor
        id: cache-webpack-vendor
        uses: actions/cache@v4
        with:
          path: |
            packages/snaps-simulator/vendor
          key: webpack-vendor-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Build Webpack vendor
        if: steps.cache-webpack-vendor.outputs.cache-hit != 'true'
        run: yarn workspace @metamask/snaps-simulator run build:vendor
      - name: Build
        run: yarn workspace @metamask/snaps-simulator run build:webpack
      - name: Cache "@metamask/snaps-simulator" build
        id: cache-e2e-simulator-build
        uses: actions/cache@v4
        with:
          path: |
            packages/snaps-simulator/dist/webpack
          key: e2e-simulator-build-${{ runner.os }}-${{ github.sha }}
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  build-test-snaps:
    name: Build "@metamask/test-snaps"
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Build
        run: yarn workspace @metamask/test-snaps run build
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  policy:
    name: Generate LavaMoat policy
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Generate LavaMoat policy
        run: yarn workspace @metamask/snaps-execution-environments build:lavamoat:policy
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: ESLint
        run: yarn lint:eslint
      - name: Prettier
        run: yarn lint:misc --check
      - name: TSConfig
        run: yarn lint:tsconfig
      - name: Yarn constraints
        run: yarn constraints
      - name: Dependencies
        run: yarn lint:dependencies
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  test:
    name: Test
    runs-on: ubuntu-latest
    needs:
      - prepare
      - build
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
        package-name: ${{ fromJson(needs.prepare.outputs.test-workspace-package-names) }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Restore "@metamask/snaps-execution-environments" build
        uses: actions/cache@v4
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: snaps-execution-environments-build-${{ runner.os }}-${{ matrix.node-version }}-${{ github.sha }}
          fail-on-cache-miss: true
      - name: Restore build files
        uses: actions/cache@v4
        with:
          path: |
            packages/*/dist
          key: build-source-${{ runner.os }}-${{ github.sha }}
          fail-on-cache-miss: true
      - run: yarn --immutable --immutable-cache
      - name: Install Google Chrome
        run: yarn install-chrome
      - run: yarn workspace ${{ matrix.package-name }} run test
      - name: Get coverage folder
        id: get-coverage-folder
        run: |
          echo "stub" >> stub
          echo "coverage-folder=$(yarn workspaces list --json | grep ${{ matrix.package-name }} | jq -r '.location')/coverage" >> "$GITHUB_OUTPUT"
          echo "artifact-name=$(echo ${{ matrix.package-name }} | sed 's:.*/::')" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Upload coverage artifact
        if: ${{ matrix.node-version == '18.x' }}
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ steps.get-coverage-folder.outputs.artifact-name }}
          path: |
            stub
            ${{ steps.get-coverage-folder.outputs.coverage-folder }}/**/coverage-final.json
          if-no-files-found: warn
          retention-days: 1
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  upload-coverage:
    name: Upload coverage to Codecov
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          pattern: coverage-*
          merge-multiple: true
      - name: Upload coverage results
        uses: codecov/codecov-action@6d798873df2b1b8e5846dba6fb86631229fbcb17
        with:
          files: packages/**/coverage-final.json
          token: ${{ secrets.CODECOV_TOKEN }}

  test-e2e:
    name: E2E Test
    runs-on: ubuntu-latest
    needs:
      - prepare
      - build
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x]
        package-name: ${{ fromJson(needs.prepare.outputs.e2e-workspace-package-names) }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Restore "@metamask/snaps-execution-environments" build
        uses: actions/cache@v4
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: snaps-execution-environments-build-${{ runner.os }}-${{ matrix.node-version }}-${{ github.sha }}
          fail-on-cache-miss: true
      - name: Restore build files
        uses: actions/cache@v4
        with:
          path: |
            packages/*/dist
          key: build-source-${{ runner.os }}-${{ github.sha }}
          fail-on-cache-miss: true
      - run: yarn --immutable --immutable-cache
      - name: Build snap
        run: yarn workspace ${{ matrix.package-name }} run build
      - name: Run E2E test
        run: yarn workspace ${{ matrix.package-name }} run test
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  platform-compatibility-test:
    name: Test platform compatibility
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable
      - run: yarn build:ci
      - run: yarn workspace @metamask/snaps-cli run test
