name: Build, Lint, and Test

on:
  workflow_call:

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      test-workspace-package-names: ${{ steps.workspace-package-names.outputs.test-workspace-package-names }}
      e2e-workspace-package-names: ${{ steps.workspace-package-names.outputs.e2e-workspace-package-names }}
      all-workspace-package-names: ${{ steps.workspace-package-names.outputs.all-workspace-package-names }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable
      - name: Cache "@metamask/snaps-execution-environments" build
        id: cache-snaps-execution-environments-build
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: snaps-execution-environments-build-${{ runner.os }}-${{ matrix.node-version }}-${{ github.sha }}
      - name: Prepare "@metamask/snaps-execution-environments" build
        if: steps.cache-snaps-execution-environments-build.outputs.cache-hit != 'true'
        run: yarn workspace @metamask/snaps-execution-environments run build:lavamoat
      - name: Fetch workspace package names
        id: workspace-package-names
        run: |
          {
            echo "test-workspace-package-names=$(yarn workspaces filter --include 'packages/*' --exclude 'packages/examples' --json)"
            echo "e2e-workspace-package-names=$(yarn workspaces filter --include 'packages/examples/packages/**' --exclude 'packages/examples/packages/invoke-snap' --json)"
            echo "all-workspace-package-names=$(yarn workspaces filter --include '{.,packages/**}' --exclude 'packages/snaps-cli/test/snap' --json)"
          } >> "$GITHUB_OUTPUT"
        shell: bash

  build-source:
    name: Build source
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Build source
        run: yarn build:source
      - name: Cache build files
        uses: actions/cache@v3
        with:
          path: |
            packages/*/dist/esm
            packages/*/dist/cjs
          key: build-source-${{ runner.os }}-${{ github.sha }}
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  build-types:
    name: Build types
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Build types
        run: yarn build:types
      - name: Cache build files
        uses: actions/cache@v3
        with:
          path: |
            packages/*/dist/types
          key: build-types-${{ runner.os }}-${{ github.sha }}
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  post-build:
    name: Post-build
    runs-on: ubuntu-latest
    needs:
      - build-source
      - build-types
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Restore build files
        uses: actions/cache@v3
        with:
          path: |
            packages/*/dist/esm
            packages/*/dist/cjs
          key: build-source-${{ runner.os }}-${{ github.sha }}
      - name: Restore types files
        uses: actions/cache@v3
        with:
          path: |
            packages/*/dist/types
          key: build-types-${{ runner.os }}-${{ github.sha }}
      - name: Post-build
        run: yarn build:post-tsc:ci

  build-simulator:
    name: Build "@metamask/snaps-simulator"
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Restore "@metamask/snaps-execution-environments" build
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: snaps-execution-environments-build-${{ runner.os }}-18.x-${{ github.sha }}
      - name: Cache Webpack vendor
        id: cache-webpack-vendor
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-simulator/vendor
          key: webpack-vendor-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Build Webpack vendor
        if: steps.cache-webpack-vendor.outputs.cache-hit != 'true'
        run: yarn workspace @metamask/snaps-simulator run build:vendor
      - name: Build
        run: yarn workspace @metamask/snaps-simulator run build:webpack
      - name: Cache "@metamask/snaps-simulator" build
        id: cache-e2e-simulator-build
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-simulator/dist/webpack
          key: e2e-simulator-build-${{ runner.os }}-${{ github.sha }}
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  build-test-snaps:
    name: Build "@metamask/test-snaps"
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Build
        run: yarn workspace @metamask/test-snaps run build
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  policy:
    name: Generate LavaMoat policy
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Generate LavaMoat policy
        run: yarn workspace @metamask/snaps-execution-environments build:lavamoat:policy
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        package-name: ${{ fromJson(needs.prepare.outputs.all-workspace-package-names) }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - run: yarn workspace ${{ matrix.package-name }} run lint:ci
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
        package-name: ${{ fromJson(needs.prepare.outputs.test-workspace-package-names) }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Restore "@metamask/snaps-execution-environments" build
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: snaps-execution-environments-build-${{ runner.os }}-${{ matrix.node-version }}-${{ github.sha }}
      - run: yarn --immutable --immutable-cache
      - name: Install Google Chrome
        run: yarn install-chrome
      - run: yarn workspace ${{ matrix.package-name }} run test:ci
      - name: Get coverage folder
        id: get-coverage-folder
        run: |
          echo "stub" >> stub
          echo "coverage-folder=$(yarn workspaces list --json | grep ${{ matrix.package-name }} | jq -r '.location')/coverage" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Upload coverage artifact
        if: ${{ matrix.node-version == '16.x' }}
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: |
            stub
            ${{ steps.get-coverage-folder.outputs.coverage-folder }}/**/coverage-final.json
          if-no-files-found: warn
          retention-days: 1
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  upload-coverage:
    name: Upload coverage to Codecov
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: Download coverage artifact
        uses: actions/download-artifact@v3
        with:
          name: coverage
      - name: Upload coverage results
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
        with:
          files: packages/**/coverage-final.json

  test-e2e:
    name: E2E Test
    runs-on: ubuntu-latest
    needs:
      - prepare
      - build-source
      - build-types
      - build-simulator
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
        package-name: ${{ fromJson(needs.prepare.outputs.e2e-workspace-package-names) }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Restore "@metamask/snaps-execution-environments" build
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: snaps-execution-environments-build-${{ runner.os }}-${{ matrix.node-version }}-${{ github.sha }}
      - name: Restore build files
        uses: actions/cache@v3
        with:
          path: |
            packages/*/dist/esm
            packages/*/dist/cjs
          key: build-source-${{ runner.os }}-${{ github.sha }}
      - name: Restore types files
        uses: actions/cache@v3
        with:
          path: |
            packages/*/dist/types
          key: build-types-${{ runner.os }}-${{ github.sha }}
      - name: Restore "@metamask/snaps-simulator" build
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-simulator/dist/webpack
          key: e2e-simulator-build-${{ runner.os }}-${{ github.sha }}
      - run: yarn --immutable --immutable-cache
      - name: Install Google Chrome
        run: yarn install-chrome
      - name: Build snap
        run: yarn workspace ${{ matrix.package-name }} run build
      - name: Run E2E test
        run: yarn workspace ${{ matrix.package-name }} run test:e2e
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  platform-compatibility-test:
    name: Test platform compatibility
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable
      - run: yarn workspace @metamask/snaps-cli run test
