name: Build, Lint, and Test

on:
  workflow_call:

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      child-workspace-package-names: ${{ steps.workspace-package-names.outputs.child-workspace-package-names }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable
      - name: Cache test build
        id: cache-test-build
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: test-build-${{ runner.os }}-${{ matrix.node-version }}-${{ github.sha }}
      - name: Prepare test build
        if: steps.cache-test-build.outputs.cache-hit != 'true'
        run: yarn test:prepare
      - name: Fetch workspace package names
        id: workspace-package-names
        run: |
          echo "child-workspace-package-names=$(yarn child-workspace-package-names-as-json)" >> "$GITHUB_OUTPUT"
        shell: bash

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - run: yarn build
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  policy:
    name: Generate LavaMoat policy
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - name: Generate LavaMoat policy
        run: yarn workspace @metamask/snaps-execution-environments build:lavamoat:policy
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - run: yarn lint
        env:
          NODE_OPTIONS: --max-old-space-size=4096
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  validate-changelog:
    name: Validate changelog
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
        package-name: ${{ fromJson(needs.prepare.outputs.child-workspace-package-names) }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable --immutable-cache
      - run: yarn workspace ${{ matrix.package-name }} lint:changelog
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
        package-name: ${{ fromJson(needs.prepare.outputs.child-workspace-package-names) }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Restore test build
        uses: actions/cache@v3
        with:
          path: |
            packages/snaps-execution-environments/dist/browserify
          key: test-build-${{ runner.os }}-${{ matrix.node-version }}-${{ github.sha }}
      - run: yarn --immutable --immutable-cache
      - name: Install Google Chrome
        run: yarn install-chrome
      - run: yarn workspace ${{ matrix.package-name }} run test:ci
      - name: Get coverage folder
        id: get-coverage-folder
        run: |
          echo "stub" >> stub
          echo "coverage-folder=$(yarn workspaces list --json | grep ${{ matrix.package-name }} | jq -r '.location')/coverage" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Upload coverage artifact
        if: ${{ matrix.node-version == '16.x' }}
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: |
            stub
            ${{ steps.get-coverage-folder.outputs.coverage-folder }}/**/coverage-final.json
          if-no-files-found: warn
          retention-days: 1
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  upload-coverage:
    name: Upload coverage to Codecov
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: Download coverage artifact
        uses: actions/download-artifact@v3
        with:
          name: coverage
      - name: Upload coverage results
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
        with:
          files: packages/**/coverage-final.json

  platform-compatibility-test:
    name: Test platform compatibility
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - run: yarn --immutable
      - run: yarn workspace @metamask/snaps-cli run test
