name: Main

on:
  push:
    branches:
      - main
      - rc/1.0.0
  pull_request:

jobs:
  check-workflows:
    name: Check workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download actionlint
        id: download-actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/7fdc9630cc360ea1a469eed64ac6d78caeda1234/scripts/download-actionlint.bash) 1.6.23
        shell: bash
      - name: Check workflow files
        run: ${{ steps.download-actionlint.outputs.executable }} -color
        shell: bash

  lint-build-test:
    name: Build, lint, and test
    needs: check-workflows
    uses: ./.github/workflows/build-lint-test.yml

  publish-staging-simulator:
    name: Publish Snaps Simulator to `staging` folder
    needs: lint-build-test
    # The `rc/1.0.0` branch does not have the `snaps-simulator` package, so we
    # only run this job on the `main` branch.
    if: ${{ github.ref_name == 'main' }}
    permissions:
      contents: write
    uses: ./.github/workflows/publish-github-pages.yml
    with:
      build_script: yarn workspace @metamask/snaps-simulator build:post-tsc
      publish_dir: ./packages/snaps-simulator/dist/webpack/main
      destination_dir: snaps-simulator/staging
    secrets:
      PUBLISH_PAGES_TOKEN: ${{ secrets.PUBLISH_PAGES_TOKEN }}

  is-release:
    name: Determine whether this is a release merge commit
    needs: lint-build-test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    outputs:
      IS_RELEASE: ${{ steps.is-release.outputs.IS_RELEASE }}
    steps:
      - id: is-release
        uses: MetaMask/action-is-release@v1
        with:
          commit-starts-with: 'Release [version]'

  publish-release:
    name: Publish release
    needs: is-release
    if: needs.is-release.outputs.IS_RELEASE == 'true'
    permissions:
      id-token: write
      contents: write
    uses: ./.github/workflows/publish-release.yml
    with:
      slack-subteam: S042S7RE4AE # @metamask-npm-publishers
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      PUBLISH_PAGES_TOKEN: ${{ secrets.PUBLISH_PAGES_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  all-jobs-complete:
    name: All jobs complete
    runs-on: ubuntu-latest
    needs: lint-build-test
    outputs:
      passed: ${{ steps.set-output.outputs.passed }}
    steps:
      - name: Set passed output
        id: set-output
        run: echo "passed=true" >> "$GITHUB_OUTPUT"

  all-jobs-pass:
    name: All jobs pass
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: all-jobs-complete
    steps:
      - name: Check that all jobs have passed
        run: |
          passed="${{ needs.all-jobs-complete.outputs.passed }}"
          if [[ $passed != "true" ]]; then
            exit 1
          fi
