name: Publish Release

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true

jobs:
  publish-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.sha }}
      - name: Get Node.js version
        id: nvm
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
      - uses: MetaMask/action-publish-release@v2
        id: publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          yarn install --immutable
          yarn build
      - uses: actions/cache@v3
        id: restore-build
        with:
          path: |
            ./packages/**/dist
            ./node_modules
          key: ${{ github.sha }}

  npm-publish-dry-run:
    runs-on: ubuntu-latest
    needs: publish-release
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.sha }}
      - uses: actions/cache@v3
        id: restore-build
        with:
          path: |
            ./packages/**/dist
            ./node_modules
          key: ${{ github.sha }}
      - run: |
          # Check if the branch name is `main`
          if [ GITHUB_REF_NAME = 'main' ]
            yarn prepare-flask-builds
          fi
        shell: bash
      - run: npm config set ignore-scripts true
      - name: Dry Run Publish
        uses: MetaMask/action-npm-publish@v3

  npm-publish:
    environment: npm-publish
    runs-on: ubuntu-latest
    needs: npm-publish-dry-run
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.sha }}
      - uses: actions/cache@v3
        id: restore-build
        with:
          path: |
            ./packages/**/dist
            ./node_modules
          key: ${{ github.sha }}
      - run: |
          # Check if the branch name is `main`
          if [ GITHUB_REF_NAME = 'main' ]
            yarn prepare-flask-builds
          fi
        shell: bash
      - run: npm config set ignore-scripts true
      - name: Publish
        uses: MetaMask/action-npm-publish@v3
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}
