name: Re-run failed jobs (${{ inputs.run-id }})

on:
  workflow_dispatch:
    inputs:
      run-id:
        required: true

jobs:
  re-run:
    name: Re-run failed jobs
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Re-run ${{ inputs.run-id }}
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
        run: |
          gh run watch ${{ inputs.run-id }} > /dev/null 2>&1
          gh run rerun ${{ inputs.run-id }} --failed
